<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55133621656-t4ucvm5eod49ia0boik8cso9ujg1dp3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55133621656-t4ucvm5eod49ia0boik8cso9ujg1dp3a</string>
	<key>API_KEY</key>
	<string>AIzaSyCmVDw7WTyVvWrO7wcPLhX2UMVwvz0-qN8</string>
	<key>GCM_SENDER_ID</key>
	<string>55133621656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EslamAyman.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-b40af</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-b40af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55133621656:ios:5a59e1d4f4d95b90d1afed</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-b40af.firebaseio.com</string>
</dict>
</plist>